<H2>
  {{gSC('authSignupTitle')}}
</H2>
 <H3>
  {{gSC('authSignupMessage')}}
 </H3>
 <div class="alert alert-info" *ngIf="error">{{error}}</div>

<div *ngIf="createStatus==''">
    <div>
        <label>{{gSC('authSignupUserid')}}:
            <input #userid type="text" name=userid>
        </label>
    </div>
    <div>
        <label>{{gSC('authSignupPassword')}}
            <input #password type="password" name=password/>
        </label>
    
    </div>
    <div>
        <button (click)="signUp(userid.value, password.value); password.value=''">
            Register
        </button>
    </div>
</div>
<div *ngIf="createStatus">
        <button routerLink="/login">
            Go to Login
        </button>
    
</div>