<H2>
    {{gSC('custProfileTitle')}}
  </H2>
   <H3>
    {{gSC('custProfileMessage')}}
   </H3>
  <!-- <ng-form #myForm="ngForm"> -->
  <form #profileForm="ngForm" >
  
   <div class="alert alert-info" *ngIf="error">{{error}}</div>
  <div *ngIf="submitted">Changes Submitted.</div>
  <div *ngIf="submitted==false">
  
  <div>
    <label>{{gSC('custProfileFirstName')}}:
      <input type="text" class="form-control" id="firstname" required
          [(ngModel)]="profile.firstname" name="firstname" #firstname="ngModel">
    </label>
  </div>
  <div>
    <label>{{gSC('custProfileLasttName')}}:
      <input type="text" class="form-control" id="lastname" required
          [(ngModel)]="profile.lastname" name="lastname" #lastname="ngModel">
    </label>
    
  </div>
  <div>
    <label>{{gSC('custProfileEMail')}}:
      <input type="text" class="form-control" id="email" required
          [(ngModel)]="profile.email" name="email" #email="ngModel">
    </label>
  </div>
  <div>
  <button type="button" class="btn btn-dark" (click)="update()" [disabled]="!profileForm.form.valid">Update</button>
</div> 
</div>
  </form>