<H2>
  Account Overview
</H2>
 <H3>
  Summary of all your relevant account details 
 </H3>

 <table role="table">
  <thead role="rowgroup">
    <tr role="row">
      <th role="columnheader">Service</th>
      <th role="columnheader">Plan</th>
      <th role="columnheader">Enrolled</th>
      <th role="columnheader">Activation Date</th>
    </tr>
  </thead>
  <tbody role="rowgroup">
    <tr role="row">
      <td role="cell">Internet</td>
      <td role="cell">Dedicated Platinum</td>
      <td role="cell">Yes</td>
      <td role="cell">01/01/2018</td>
    </tr>
    <tr role="row">
      <td role="cell">Video</td>
      <td role="cell">Basic</td>
      <td role="cell">No</td>
      <td role="cell">NA</td>
    </tr>
    <tr role="row">
      <td role="cell">Phone</td>
      <td role="cell">Basic</td>
      <td role="cell">No</td>
      <td role="cell">NA</td>
    </tr>
    <tr role="row">
      <td role="cell">Security</td>
      <td role="cell">Advanced</td>
      <td role="cell">Yes</td>
      <td role="cell">01/01/2018</td>

    </tr>
    <tr role="row">
      <td role="cell">Smart Utilities</td>
      <td role="cell">Advanced</td>
      <td role="cell">Yes</td>
      <td role="cell">01/01/2018</td>

    </tr>
    <tr role="row">
      <td role="cell">Smart Cameras</td>
      <td role="cell">Advanced</td>
      <td role="cell">No</td>
      <td role="cell">NA</td>

    </tr>
  </tbody>
</table>

