<app-header></app-header>
<app-secure-header></app-secure-header>
        <!-- Page Content -->
        <div id="page-wrapper" style="min-height: 317px;">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <router-outlet></router-outlet>
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->